@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
  font-family: "Poppins", sans-serif;
  color-scheme: dark;
}

@font-face {
  font-family: 'Dosis';
  src: url('/fonts/Dosis-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('/fonts/Dosis-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('/fonts/Dosis-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('/fonts/Dosis-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('/fonts/Dosis-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('/fonts/Dosis-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('/fonts/Dosis-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@layer utilities {
  
  .font-dosis { font-family: 'Dosis', sans-serif; }
  
}


@layer utilities {
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }
}
.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}